@charset "UTF-8";
body:not(#back) {
    background-color: rgb(0, 0, 0);
    user-select: none;
    overflow: hidden;
    margin: 0;
    -webkit-user-drag: none;
    -moz-user-select: none;
    /*aspect-ratio: 52 / 41;*/
    -webkit-app-region: no-drag;
}

* {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.bg {
    width: 100%;
}

#back {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 1;
    margin: 0 auto;
}

.msgwin {
    position: absolute;
    left: 0.3%;
    bottom: -1.3vw;
    z-index: 1;
}

.text p {
    font-weight: bold;
    width: 95%;
    height: auto;
    position: absolute;
    top: 0.4rem;
    left: 3%;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffdbf2;
    -webkit-text-stroke: 1.2px #222232;
}

.name p {
    position: absolute;
    font-weight: bold;
    display: inline-block;
    width: auto;
    height: auto;
    left: 3.5%;
    bottom: -2.1vw;
    font-size: 3.4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffdbf2;
    -webkit-text-stroke: 1.2px #222232;
}

#save {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 1;
    opacity: 0;
}

#load {
    position: absolute;
    bottom: 0;
    left: 115px;
    z-index: 1;
    opacity: 0;
}

#backlog {
    position: absolute;
    bottom: 0;
    left: 150px;
    z-index: 2;
}

#chara {
    left: -8%;
    bottom: -16%;
    position: absolute;
    height: auto;
    opacity: 1;
    transition: opacity 1s;
    z-index: 0;
}

#chara2 {
    position: absolute;
    right: -8%;
    bottom: -30%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}

#chara3 {
    position: absolute;
    right: 3%;
    bottom: -25%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}

#chara4 {
    position: absolute;
    right: 12%;
    bottom: -10%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}

#chara5 {
    position: absolute;
    right: 3%;
    bottom: -16%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
}

#branch1 {
    font-weight: bold;
    top: 28%;
    left: 2%;
    background-color: #334c59;
    color: #e4e4e4;
    -webkit-text-stroke: 0.9px #222232;
    box-shadow: 0 2px 5px 1.5px rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 8%;
    width: 95%;
    font-size: 2.5vw;
    font-family: "MS Pゴシック";
    opacity: 0;
    z-index: 1;
}

#branch2 {
    font-weight: bold;
    top: 58%;
    left: 2%;
    background-color: #334c59;
    color: #e4e4e4;
    -webkit-text-stroke: 0.9px #222232;
    box-shadow: 0 2px 5px 1.5px rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 8%;
    width: 95%;
    font-size: 2.5vw;
    font-family: "MS Pゴシック";
    opacity: 0;
    z-index: 1;
}

#savelist {
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 2;
}

#loadlist {
    position: absolute;
    bottom: 0;
    left: 90px;
    z-index: 2;
}

#config {
    position: absolute;
    bottom: 0;
    left: 236px;
    z-index: 2;
}

.savefile button {
    height: 8.5%;
    width: 95%;
    font-size: 2.5vw;
    font-family: "MS Pゴシック";
    opacity: 0;
    z-index: 1;
    font-weight: bold;
    left: 2%;
    background-color: #717272;
    color: #e4e4e4;
    -webkit-text-stroke: 0.4px #222232;
    box-shadow: 0 2px 5px 1.5px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 6;
}

.loadfile button {
    height: 8.5%;
    width: 95%;
    font-size: 2.5vw;
    font-family: "MS Pゴシック";
    opacity: 0;
    z-index: 1;
    font-weight: bold;
    left: 2%;
    background-color: #717272;
    color: #e4e4e4;
    -webkit-text-stroke: 0.4px #222232;
    box-shadow: 0 2px 5px 1.5px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 6;
}

#saveend {
    height: 7%;
    width: 15%;
    top: 88%;
    left: 2%;
}

#saveclear {
    height: 7%;
    width: 28%;
    top: 88%;
    left: 69%;
}

#save1,
#load1 {
    top: 8%;
}

#save2,
#load2 {
    top: 18%;
}

#save3,
#load3 {
    top: 28%;
}

#save4,
#load4 {
    top: 38%;
}

#save5,
#load5 {
    top: 48%;
}

#save6,
#load6 {
    top: 58%;
}

#save7,
#load7 {
    top: 68%;
}

#save8,
#load8 {
    top: 78%;
}

#textbox {
    opacity: 0.78;
    border: thick double #67c744;
    user-select: none;
    width: 98%;
    height: 130%;
    z-index: 1;
}

.text {
    position: relative;
}

#namebox {
    opacity: 0.78;
    border: thick double #67c744;
    user-select: none;
    width: 23%;
    z-index: 1;
}

.name {
    position: relative;
}

.js-text-anime span {
    opacity: 0;
}

#bl1 {
    color: white;
    position: absolute;
    bottom: 5%;
    padding: 1%;
    left: 6%;
    font-size: 2.3vw;
    width: 92%;
    z-index: 4;
    opacity: 0;
}

#blBG {
    position: absolute;
    user-select: none;
    opacity: 0;
    z-index: 0;
}

#scene {
    position: absolute;
    user-select: none;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s;
}

#scene_sep {
    position: absolute;
    user-select: none;
    opacity: 0;
    z-index: 0;
}

.cgscene img {
    position: absolute;
    user-select: none;
    opacity: 0;
    z-index: 0;
    width: 100%;
}